{% assign free_shipping_goal = 60.00 | times: 100 %}
{% assign cart_total = cart.total_price | divided_by: 100.0 %}
{% assign amount_left = free_shipping_goal | minus: cart_total %}
{% assign percent = cart_total | divided_by: free_shipping_goal | times: 100 | round %}

<div class="free_shipping_wrapper">
  {% if amount_left > 0 %}
    <span>🚚 Only {{ amount_left | money }} away from FREE shipping!</span>
  {% else %}
    <span>🎉 You’ve unlocked FREE shipping!</span>
  {% endif %}

  <div class="free_shipping_bar" data-full-bar-value="{{ free_shipping_goal }}">
    <div 
      class="free_shipping_progress_line" 
      style="width: {{ percent | at_most: 100 }}%;"
    ></div>
    <div 
      class="free_shipping_dot_progress" 
      style="left: {{ percent | at_most: 100 }}%;"
    ></div>
  </div>
</div>
