{% assign free_shipping_goal = settings.free_shipping_threshold %}
{% assign cart_total = cart.total_price | divided_by: 100.0 %}
{% assign amount_left = free_shipping_goal | minus: cart_total %}

{% if amount_left < 0 %}
  {% assign amount_left = 0 %}
{% endif %}

{% assign percent = cart_total | divided_by: free_shipping_goal | times: 100 %}
{% if percent > 100 %}
  {% assign percent = 100 %}
{% endif %}
{% if settings.show_free_shipping_bar %}
<div class="free_shipping_wrapper">
  {% if amount_left > 0 %}
    <span>🚚 Only {{ amount_left | round: 2 | prepend: '$' }} away from FREE shipping!</span>
  {% else %}
    <span>🎉 You’ve unlocked FREE shipping!</span>
  {% endif %}

  <div class="free_shipping_bar" data-full-bar-value="{{ free_shipping_goal }}">
    <div 
      class="free_shipping_progress_line" 
      style="width: {{ percent | round: 0 }}%;"
    ></div>
    <div 
      class="free_shipping_dot_progress" 
      style="left: {{ percent | round: 0 }}%;"
    ></div>
  </div>
</div>
{% endif %}