
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-588263815565542057.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-588263815565542057.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-588263815565542057.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-588263815565542057.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-588263815565542057.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-588263815565542057.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-588263815565542057.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-588263815565542057.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-588263815565542057.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-588263815565542057.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-588263815565542057.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-588263815565542057.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-588263815565542057.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-588263815565542057.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-588263815565542057.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-588263815565542057.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-588263815565542057.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-588263815565542057.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-588263815565542057.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-588263815565542057.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-588263815565542057.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-588263815565542057.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-588263815565542057.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-588263815565542057.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-588263815565542057.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-588263815565542057.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-588263815565542057.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-588263815565542057.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-588263815565542057.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-588263815565542057.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-588263815565542057.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-588263815565542057.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-588263815565542057.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-588263815565542057.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-588263815565542057.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-588263815565542057.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-588263815565542057.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-588263815565542057.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-588263815565542057.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-588263815565542057.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-588263815565542057.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-588263815565542057.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-588263815565542057.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-588263815565542057.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-588263815565542057.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-588263815565542057.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-588263815565542057.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-588263815565542057.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-588263815565542057.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-588263815565542057.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-588263815565542057.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-588263815565542057.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-588263815565542057.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-588263815565542057.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-588263815565542057.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-588263815565542057.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-588263815565542057.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-588263815565542057.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-588263815565542057.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-588263815565542057.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-588263815565542057.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-588263815565542057.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-588263815565542057.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-588263815565542057.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-588263815565542057.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-588263815565542057.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-588263815565542057.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-588263815565542057.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-588263815565542057.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-588263815565542057.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-588263815565542057.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-588263815565542057.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-588263815565542057.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-588263815565542057.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-588263815565542057 .gp-relative{position:relative}.gps-588263815565542057 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-588263815565542057 .gp-mb-0{margin-bottom:0}.gps-588263815565542057 .gp-flex{display:flex}.gps-588263815565542057 .gp-grid{display:grid}.gps-588263815565542057 .\!gp-hidden{display:none!important}.gps-588263815565542057 .gp-hidden{display:none}.gps-588263815565542057 .gp-max-w-full{max-width:100%}.gps-588263815565542057 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-588263815565542057 .gp-flex-col{flex-direction:column}.gps-588263815565542057 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-588263815565542057 .gp-duration-200{transition-duration:.2s}.gps-588263815565542057 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-588263815565542057 .tablet\:\!gp-hidden{display:none!important}.gps-588263815565542057 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-588263815565542057 .mobile\:\!gp-hidden{display:none!important}.gps-588263815565542057 .mobile\:gp-hidden{display:none}}.gps-588263815565542057 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--pos:sticky;--top:0px;--z:10;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FAFDFE","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gRo5ybBL9B"}' data-id="gRo5ybBL9B" id="gRo5ybBL9B" data-same-height-subgrid-container class="gRo5ybBL9B gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFDFE;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g33gh6weKR gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#E7BBBE","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g-o8r7TCi5"}' data-id="g-o8r7TCi5" id="g-o8r7TCi5" data-same-height-subgrid-container class="g-o8r7TCi5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--pos:sticky;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:var(--g-s-s);--pl:20px;--pb:var(--g-s-s);--pr:20px;--mb-mobile:0px;--pt-mobile:12px;--pl-mobile:20px;--pb-mobile:12px;--pr-mobile:20px;--mb-tablet:0px;--pt-tablet:var(--g-s-s);--pl-tablet:20px;--pb-tablet:var(--g-s-s);--pr-tablet:20px;--top:0px;--z:3;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:#E7BBBE;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gv2F2bVzLg gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gX1f9BgdVi"}' data-id="gX1f9BgdVi" id="gX1f9BgdVi" data-same-height-subgrid-container class="gX1f9BgdVi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:10px;--cg-tablet:127px;--cg-mobile:31px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:996px;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gm3vRfFoRR gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gaOD7_LXlA"}' data-id="gaOD7_LXlA" id="gaOD7_LXlA" data-same-height-subgrid-container class="gaOD7_LXlA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:24px;--cg-tablet:24px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g1fB8odjdk gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvaXFoSe94"
        class="gvaXFoSe94"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760530309117"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Cabin, 'Cabin'), var(--g-font-body, body);--weight:600;--ls:normal;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:19px;--lh-tablet:130%;--lh-mobile:150%;--c:#FFFFFF;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvaXFoSe94_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gvaXFoSe94">
        .gvaXFoSe94 {

}
.gvaXFoSe94 p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v35/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkYODH7alwQ.woff) format('woff');
}
/* vietnamese */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v35/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkYODH7mlwUzuA_q9BtS8.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v35/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkYODH7ilwUzuA_q9BtS8.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v35/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkYODH7alwUzuA_q9Bg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-588263815565542057 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/reju-skin-care/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=588263815548764841&sectionId=588263815565542057)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggvaXFoSe94_text","label":"ggvaXFoSe94_text","default":"<p>⭐⭐⭐⭐⭐ trusted by over 2.4 million happy customers 📦 free shipping on All orders</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  