
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-589744327434306325.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-589744327434306325.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-589744327434306325.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-589744327434306325.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-589744327434306325.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-589744327434306325.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-589744327434306325.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-589744327434306325.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-589744327434306325.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-589744327434306325.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-589744327434306325.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-589744327434306325.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-589744327434306325.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-589744327434306325.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-589744327434306325.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-589744327434306325.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-589744327434306325.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-589744327434306325.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-589744327434306325.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-589744327434306325.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-589744327434306325.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-589744327434306325.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-589744327434306325.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-589744327434306325.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-589744327434306325.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-589744327434306325.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-589744327434306325.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-589744327434306325.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-589744327434306325.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-589744327434306325.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-589744327434306325.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-589744327434306325.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-589744327434306325.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-589744327434306325.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-589744327434306325.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-589744327434306325.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-589744327434306325.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-589744327434306325.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-589744327434306325.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-589744327434306325.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-589744327434306325.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-589744327434306325.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-589744327434306325.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-589744327434306325.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-589744327434306325.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-589744327434306325.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-589744327434306325.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-589744327434306325.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-589744327434306325.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-589744327434306325.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-589744327434306325.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-589744327434306325.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-589744327434306325.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-589744327434306325.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-589744327434306325.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-589744327434306325.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-589744327434306325 .gp-relative{position:relative}.gps-589744327434306325 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-589744327434306325 .gp-mb-0{margin-bottom:0}.gps-589744327434306325 .gp-inline-block{display:inline-block}.gps-589744327434306325 .gp-flex{display:flex}.gps-589744327434306325 .gp-grid{display:grid}.gps-589744327434306325 .gp-contents{display:contents}.gps-589744327434306325 .\!gp-hidden{display:none!important}.gps-589744327434306325 .gp-hidden{display:none}.gps-589744327434306325 .gp-h-auto{height:auto}.gps-589744327434306325 .gp-h-full{height:100%}.gps-589744327434306325 .gp-w-full{width:100%}.gps-589744327434306325 .gp-max-w-full{max-width:100%}.gps-589744327434306325 .gp-flex-none{flex:none}.gps-589744327434306325 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-589744327434306325 .gp-flex-col{flex-direction:column}.gps-589744327434306325 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-589744327434306325 .gp-duration-200{transition-duration:.2s}.gps-589744327434306325 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-589744327434306325 .tablet\:\!gp-hidden{display:none!important}.gps-589744327434306325 .tablet\:gp-hidden{display:none}.gps-589744327434306325 .tablet\:gp-h-auto{height:auto}.gps-589744327434306325 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-589744327434306325 .mobile\:\!gp-hidden{display:none!important}.gps-589744327434306325 .mobile\:gp-hidden{display:none}.gps-589744327434306325 .mobile\:gp-h-auto{height:auto}.gps-589744327434306325 .mobile\:gp-flex-none{flex:none}}.gps-589744327434306325 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#C4B39D","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gxxkIEvW1S"}' data-id="gxxkIEvW1S" id="gxxkIEvW1S" data-same-height-subgrid-container class="gxxkIEvW1S gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:15px;--pb:15px;--pt-mobile:12px;--pb-mobile:12px;--pt-tablet:15px;--pb-tablet:15px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#C4B39D;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3xFTqIZbB gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"ggaeE1FsDn"}' data-id="ggaeE1FsDn" id="ggaeE1FsDn" data-same-height-subgrid-container class="ggaeE1FsDn gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:1150px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-NimMGhZo gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g_L5TCF1dv"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1761044665981 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g_L5TCF1dv"
    >
      <div
        
        style="border-radius:inherit;--jc:left;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_587280051393790634-c7e55b0d-9edd-4da2-945a-5746474a385a.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDk4IiBoZWlnaHQ9IjE3MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDk4LTE3MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDk4IiBoZWlnaHQ9IjE3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDk4IiBoZWlnaHQ9IjE3MiIgZmlsbD0idXJsKCNnLTQ5OC0xNzIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00OTgiIHRvPSI0OTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_587280051393790634-c7e55b0d-9edd-4da2-945a-5746474a385a.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDk4IiBoZWlnaHQ9IjE3MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDk4LTE3MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDk4IiBoZWlnaHQ9IjE3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDk4IiBoZWlnaHQ9IjE3MiIgZmlsbD0idXJsKCNnLTQ5OC0xNzIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00OTgiIHRvPSI0OTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_587280051393790634-c7e55b0d-9edd-4da2-945a-5746474a385a.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDk4IiBoZWlnaHQ9IjE3MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDk4LTE3MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDk4IiBoZWlnaHQ9IjE3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDk4IiBoZWlnaHQ9IjE3MiIgZmlsbD0idXJsKCNnLTQ5OC0xNzIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00OTgiIHRvPSI0OTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_587280051393790634-c7e55b0d-9edd-4da2-945a-5746474a385a.png" | file_url }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:200px;--w-tablet:200px;--w-mobile:110px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-589744327434306325 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/reju-skin-care/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=589744327299695381&sectionId=589744327434306325)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  