
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-590603773710173130.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-590603773710173130.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-590603773710173130.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-590603773710173130.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-590603773710173130.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-590603773710173130.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-590603773710173130.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-590603773710173130.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-590603773710173130.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-590603773710173130.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-590603773710173130.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-590603773710173130.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-590603773710173130.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-590603773710173130.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-590603773710173130.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-590603773710173130.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-590603773710173130.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-590603773710173130.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-590603773710173130.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-590603773710173130.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-590603773710173130.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-590603773710173130.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-590603773710173130.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-590603773710173130.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-590603773710173130.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-590603773710173130.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-590603773710173130.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-590603773710173130.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-590603773710173130.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-590603773710173130.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-590603773710173130.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-590603773710173130.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-590603773710173130.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-590603773710173130.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-590603773710173130.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-590603773710173130.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-590603773710173130.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-590603773710173130.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-590603773710173130.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-590603773710173130.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-590603773710173130.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-590603773710173130.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-590603773710173130.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-590603773710173130.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-590603773710173130.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-590603773710173130.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-590603773710173130 .gp-relative{position:relative}.gps-590603773710173130 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-590603773710173130 .gp-mb-0{margin-bottom:0}.gps-590603773710173130 .gp-flex{display:flex}.gps-590603773710173130 .gp-grid{display:grid}.gps-590603773710173130 .\!gp-hidden{display:none!important}.gps-590603773710173130 .gp-hidden{display:none}.gps-590603773710173130 .gp-max-w-full{max-width:100%}.gps-590603773710173130 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-590603773710173130 .gp-flex-col{flex-direction:column}.gps-590603773710173130 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-590603773710173130 .gp-duration-200{transition-duration:.2s}.gps-590603773710173130 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-590603773710173130 .tablet\:\!gp-hidden{display:none!important}.gps-590603773710173130 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-590603773710173130 .mobile\:\!gp-hidden{display:none!important}.gps-590603773710173130 .mobile\:gp-hidden{display:none}}.gps-590603773710173130 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gHiBZX8-3D"}' data-id="gHiBZX8-3D" id="gHiBZX8-3D" data-same-height-subgrid-container class="gHiBZX8-3D gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1wdy4AAk0 gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mb:var(--g-s-l);--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gO7qatpf58 gp-custom-code">
      <div>
    <!-- SIMPLE Scroll Progress Bar for Gempages - Paste this into an HTML section -->

<style>
.scroll-progress-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #e0e0e0;
    z-index: 9999;
}

.scroll-progress-bar-fill {
    height: 100%;
    background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
    width: 0%;
    transition: width 0.3s ease;
}
</style>

<div class="scroll-progress-bar-container">
    <div class="scroll-progress-bar-fill" id="progressBarFill"></div>
</div>

<script>
window.addEventListener('scroll', function() {
    var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
    var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    var scrolled = (winScroll / height) * 100;
    document.getElementById('progressBarFill').style.width = scrolled + '%';
});
</script>
    </div>
    </div>
  
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mb:var(--g-s-l);--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="g9P_KxscwN gp-custom-code">
      <div>
    
    </div>
    </div>
  
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gOu4dITEvJ gp-custom-code">
      <div>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The 12-Hour Shift Secret | AWAKE Eye Stick for Nurses</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
            line-height: 1.6;
            color: #333;
            background: #fff;
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-590603773710173130 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/reju-skin-care/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=590601835690066774&sectionId=590603773710173130)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  