
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-589744327433978645.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-589744327433978645.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-589744327433978645.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-589744327433978645.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-589744327433978645.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-589744327433978645.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-589744327433978645.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-589744327433978645.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-589744327433978645.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-589744327433978645.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-589744327433978645.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-589744327433978645.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-589744327433978645.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-589744327433978645.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-589744327433978645.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-589744327433978645.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-589744327433978645.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-589744327433978645.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-589744327433978645.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-589744327433978645.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-589744327433978645.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-589744327433978645.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-589744327433978645.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-589744327433978645.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-589744327433978645.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-589744327433978645.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-589744327433978645.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-589744327433978645.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-589744327433978645.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-589744327433978645.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-589744327433978645.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-589744327433978645.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-589744327433978645.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-589744327433978645.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-589744327433978645.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-589744327433978645.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-589744327433978645.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-589744327433978645.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-589744327433978645.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-589744327433978645.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-589744327433978645.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-589744327433978645.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-589744327433978645.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-589744327433978645.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-589744327433978645.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-589744327433978645.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-589744327433978645.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-589744327433978645.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-589744327433978645.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-589744327433978645.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-589744327433978645.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-589744327433978645.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-589744327433978645.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-589744327433978645.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-589744327433978645.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-589744327433978645.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-589744327433978645.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-589744327433978645.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-589744327433978645.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-589744327433978645.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-589744327433978645.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-589744327433978645.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-589744327433978645.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-589744327433978645.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-589744327433978645.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-589744327433978645.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-589744327433978645.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-589744327433978645.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-589744327433978645.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-589744327433978645.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-589744327433978645.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-589744327433978645.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-589744327433978645.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-589744327433978645.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-589744327433978645.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-589744327433978645.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-589744327433978645.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-589744327433978645.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-589744327433978645.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-589744327433978645.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-589744327433978645.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-589744327433978645.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-589744327433978645.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-589744327433978645.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-589744327433978645.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-589744327433978645.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-589744327433978645.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-589744327433978645.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-589744327433978645.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-589744327433978645.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-589744327433978645.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-589744327433978645.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-589744327433978645.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-589744327433978645.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-589744327433978645.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-589744327433978645.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-589744327433978645.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-589744327433978645.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-589744327433978645.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-589744327433978645.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-589744327433978645.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-589744327433978645.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-589744327433978645.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-589744327433978645.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-589744327433978645.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-589744327433978645.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-589744327433978645.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-589744327433978645.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-589744327433978645.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-589744327433978645.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-589744327433978645 .gp-rotate-0,.gps-589744327433978645 .gp-rotate-180,.gps-589744327433978645 .mobile\:gp-rotate-0,.gps-589744327433978645 .mobile\:gp-rotate-180,.gps-589744327433978645 .tablet\:gp-rotate-0,.gps-589744327433978645 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-589744327433978645 .gp-static{position:static}.gps-589744327433978645 .gp-relative{position:relative}.gps-589744327433978645 .gp-sticky{position:sticky}.gps-589744327433978645 .gp-left-0{left:0}.gps-589744327433978645 .gp-right-0{right:0}.gps-589744327433978645 .gp-z-1{z-index:1}.gps-589744327433978645 .gp-z-2{z-index:2}.gps-589744327433978645 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-589744327433978645 .gp-my-0{margin-bottom:0;margin-top:0}.gps-589744327433978645 .gp-mb-0{margin-bottom:0}.gps-589744327433978645 .gp-block{display:block}.gps-589744327433978645 .gp-inline-block{display:inline-block}.gps-589744327433978645 .gp-flex{display:flex}.gps-589744327433978645 .gp-inline-flex{display:inline-flex}.gps-589744327433978645 .gp-grid{display:grid}.gps-589744327433978645 .gp-contents{display:contents}.gps-589744327433978645 .\!gp-hidden{display:none!important}.gps-589744327433978645 .gp-hidden{display:none}.gps-589744327433978645 .gp-h-auto{height:auto}.gps-589744327433978645 .gp-h-full{height:100%}.gps-589744327433978645 .\!gp-min-h-full{min-height:100%!important}.gps-589744327433978645 .gp-w-full{width:100%}.gps-589744327433978645 .gp-max-w-full{max-width:100%}.gps-589744327433978645 .gp-flex-1{flex:1 1 0%}.gps-589744327433978645 .gp-flex-none{flex:none}.gps-589744327433978645 .gp-shrink-0{flex-shrink:0}.gps-589744327433978645 .gp-rotate-0{--tw-rotate:0deg}.gps-589744327433978645 .gp-rotate-0,.gps-589744327433978645 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-589744327433978645 .gp-rotate-180{--tw-rotate:180deg}.gps-589744327433978645 .gp-cursor-pointer{cursor:pointer}.gps-589744327433978645 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-589744327433978645 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-589744327433978645 .\!gp-flex-row{flex-direction:row!important}.gps-589744327433978645 .gp-flex-row{flex-direction:row}.gps-589744327433978645 .gp-flex-col{flex-direction:column}.gps-589744327433978645 .gp-flex-wrap{flex-wrap:wrap}.gps-589744327433978645 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-589744327433978645 .gp-items-center{align-items:center}.gps-589744327433978645 .gp-justify-center{justify-content:center}.gps-589744327433978645 .gp-justify-between{justify-content:space-between}.gps-589744327433978645 .gp-gap-2{gap:8px}.gps-589744327433978645 .gp-overflow-hidden{overflow:hidden}.gps-589744327433978645 .gp-break-words{overflow-wrap:break-word}.gps-589744327433978645 .gp-border{border-width:1px}.gps-589744327433978645 .gp-border-transparent{border-color:transparent}.gps-589744327433978645 .gp-text-left{text-align:left}.gps-589744327433978645 .gp-text-center{text-align:center}.gps-589744327433978645 .gp-leading-\[0\]{line-height:0}.gps-589744327433978645 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-589744327433978645 .gp-no-underline{text-decoration-line:none}.gps-589744327433978645 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-589744327433978645 .gp-duration-200{transition-duration:.2s}.gps-589744327433978645 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-589744327433978645 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-589744327433978645 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-589744327433978645 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-589744327433978645 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-589744327433978645 .tablet\:gp-static{position:static}.gps-589744327433978645 .tablet\:gp-left-0{left:0}.gps-589744327433978645 .tablet\:gp-right-0{right:0}.gps-589744327433978645 .tablet\:gp-block{display:block}.gps-589744327433978645 .tablet\:\!gp-hidden{display:none!important}.gps-589744327433978645 .tablet\:gp-hidden{display:none}.gps-589744327433978645 .tablet\:gp-h-auto{height:auto}.gps-589744327433978645 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-589744327433978645 .tablet\:gp-flex-none{flex:none}.gps-589744327433978645 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-589744327433978645 .tablet\:gp-rotate-0,.gps-589744327433978645 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-589744327433978645 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-589744327433978645 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-589744327433978645 .tablet\:gp-flex-row{flex-direction:row}.gps-589744327433978645 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-589744327433978645 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-589744327433978645 .mobile\:gp-static{position:static}.gps-589744327433978645 .mobile\:gp-left-0{left:0}.gps-589744327433978645 .mobile\:gp-right-0{right:0}.gps-589744327433978645 .mobile\:gp-block{display:block}.gps-589744327433978645 .mobile\:\!gp-hidden{display:none!important}.gps-589744327433978645 .mobile\:gp-hidden{display:none}.gps-589744327433978645 .mobile\:gp-h-auto{height:auto}.gps-589744327433978645 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-589744327433978645 .mobile\:gp-flex-none{flex:none}.gps-589744327433978645 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-589744327433978645 .mobile\:gp-rotate-0,.gps-589744327433978645 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-589744327433978645 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-589744327433978645 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-589744327433978645 .mobile\:gp-flex-row{flex-direction:row}.gps-589744327433978645 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-589744327433978645 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-589744327433978645 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-589744327433978645 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-589744327433978645 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-589744327433978645 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-589744327433978645 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-589744327433978645 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1024px){.gps-589744327433978645 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-589744327433978645 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-589744327433978645 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-589744327433978645 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-589744327433978645 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-589744327433978645 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-589744327433978645 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-589744327433978645 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F4F1E8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g879wm8sTJ"}' data-id="g879wm8sTJ" id="g879wm8sTJ" data-same-height-subgrid-container class="g879wm8sTJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F4F1E8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGbaC6Dgr1 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gt8Rlk-ZvT"}' data-id="gt8Rlk-ZvT" id="gt8Rlk-ZvT" data-same-height-subgrid-container class="gt8Rlk-ZvT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:1150px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjuc_QNubV gp-relative gp-flex gp-flex-col"
    >
      {% render 'gp-section-589744327433978645-3', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gRvYM7KcZI gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI6fAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuDyYAZ9hjg.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-589744327433978645 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/reju-skin-care/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=589744327299695381&sectionId=589744327433978645)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggREe_FwwQo_text","label":"ggREe_FwwQo_text","default":"<p>Visible Improvements Start Fast, And Only Get Better With Time</p>"},{"type":"html","id":"ggpuezm3IB6_text","label":"ggpuezm3IB6_text","default":"<p><span style=\"color:rgb(0,0,0);font-size:30px;\"><strong>Visible Improvements Start Fast, And Only Get Better With Time</strong></span></p>"},{"type":"html","id":"ggOdWxHtEmN_text","label":"ggOdWxHtEmN_text","default":"<p><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:18px;\">Many women see a difference within minutes, as <strong>swelling begins to ease</strong> and the under-eye area looks <strong>smoother and more refreshed.⁷</strong></span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:18px;\">But the real transformation happens with time. Most notice dramatically less puffiness and firmer-looking eyes after 2–3 months of daily use.</span></p><p><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:14px;\"><i>*Disclaimer: Results may vary</i></span></p>"},{"type":"html","id":"ggBLNnjUTZx_text","label":"ggBLNnjUTZx_text","default":"<p><span style=\"color:rgb(0,0,0);font-size:30px;\"><strong>Doctor-Approved Formula Designed For Mature Skin</strong></span></p>"},{"type":"html","id":"ggbboZw7nns_text","label":"ggbboZw7nns_text","default":"<p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:18px;\">Professionally formulated to target puffiness and firm mature skin, RejuBalm™ includes:</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:18px;\"><strong>Turmeric Longa: </strong>natural anti-inflammatory that supports lymphatic drainage³</span><br><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:18px;\"><strong>Retinol (Vitamin A):&nbsp;</strong> helps firm crepey under-eye skin⁴</span><br><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:18px;\"><strong>Hyaluronic Acid: </strong>deep hydration that plumps and smooths⁵</span><br><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:18px;\"><strong>Vitamins C + E:</strong> brighten and protect delicate skin⁶</span><br><span style=\"font-size:18px;\">&nbsp;</span></p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:18px;\"><strong>No parabens. No fragrance. No greasy residue.</strong> Just a clean, fast-absorbing formula that works.</span></p>"},{"type":"html","id":"ggUsplojqTu_text","label":"ggUsplojqTu_text","default":"<p>100,000+ Women Over 40 Are Calling It A Game-Changer</p>"},{"type":"html","id":"gg1Q6UdqonN_text","label":"gg1Q6UdqonN_text","default":"<p><span style=\"color:rgb(0,0,0);font-size:30px;\"><strong>100,000+ Women Over 40 Are Calling It A Game-Changer</strong></span></p>"},{"type":"html","id":"gguqjydU0or_text","label":"gguqjydU0or_text","default":"<p>“I finally stopped hiding behind makeup.”</p>"},{"type":"html","id":"ggsPCiflJVK_text","label":"ggsPCiflJVK_text","default":"<p><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:17px;\">I’m 58 and for the last few years I wouldn’t go anywhere without under-eye concealer. Even then, I still looked puffy and tired.</span><br><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:17px;\">Since using RejuBalm™, I’ve actually left the house bare-faced, and felt good about it. My sister asked if I got more sleep lately. I didn’t. I just stopped covering and finally started clearing it.</span><br><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:17px;\">I use it 4–5 times a week, a couple minutes each morning.</span></p>"},{"type":"html","id":"gg-i5NGlezU_text","label":"gg-i5NGlezU_text","default":"<p>5 out of 5 stars</p>"},{"type":"html","id":"gg1m-bneOvd_text","label":"gg1m-bneOvd_text","default":"<p>Sandra P., 58</p>"},{"type":"html","id":"ggCwubiMuZ5_childItem_0","label":"ggCwubiMuZ5_childItem_0","default":"<p>Verified Buyer</p>"},{"type":"html","id":"ggkS4OoiOv3_text","label":"ggkS4OoiOv3_text","default":"<p>“It actually worked, no irritation or redness after.”</p>"},{"type":"html","id":"gg6SIjjiipq_text","label":"gg6SIjjiipq_text","default":"<p>My under-eyes are really sensitive, so I was skeptical. But CumaBalm™ felt gentle and actually did something. The puffiness visibly went down in the first few uses, and it didn’t burn, flake, or feel greasy. Now I just keep one in my purse and use it 2–3 times a week. I’m 56 and finally feel confident on Zoom calls again.</p>"},{"type":"html","id":"ggDoCyC-a1F_text","label":"ggDoCyC-a1F_text","default":"<p>5 out of 5 stars</p>"},{"type":"html","id":"ggYNnb0nPYg_text","label":"ggYNnb0nPYg_text","default":"<p>Carolyn J., 56</p>"},{"type":"html","id":"ggXAwwZppz7_childItem_0","label":"ggXAwwZppz7_childItem_0","default":"<p>Verified Buyer</p>"},{"type":"html","id":"ggyatbEngsa_text","label":"ggyatbEngsa_text","default":"<p>“I look like myself again.”</p>"},{"type":"html","id":"ggMzvJHtfHP_text","label":"ggMzvJHtfHP_text","default":"<p><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:17px;\">I’m 60 and not trying to look younger, I just wanted to look like me, not swollen or sick. This little stick made a bigger difference than anything I’ve tried (and I’ve tried a lot). Even my coworkers noticed and asked what changed. I use it for about 3 minutes in the morning — that’s all.Now, I catch myself in the mirror and don’t wince. That’s huge.</span></p>"},{"type":"html","id":"ggIPsSdfbC6_text","label":"ggIPsSdfbC6_text","default":"<p>5 out of 5 stars</p>"},{"type":"html","id":"ggbXKWcy0Ef_text","label":"ggbXKWcy0Ef_text","default":"<p>Linda H., 60</p>"},{"type":"html","id":"ggTc8fnZy4z_childItem_0","label":"ggTc8fnZy4z_childItem_0","default":"<p>Verified Buyer</p>"},{"type":"html","id":"ggTjvu5qXGA_text","label":"ggTjvu5qXGA_text","default":"<p>Doctor-Approved Formula Designed For Mature Skin</p>"},{"type":"html","id":"ggk-gn_5N0K_text","label":"ggk-gn_5N0K_text","default":"<p><span style=\"color:rgb(0,0,0);font-size:30px;\"><strong>Try It 100% Risk-Free, Even If You Finish the Stick</strong></span></p>"},{"type":"html","id":"ggIvFb_69jW_text","label":"ggIvFb_69jW_text","default":"<p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:18px;\">We get it. You’ve probably tried products that made big promises and didn’t deliver.</span></p><p><br><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:18px;\">That’s why RejuBalm™ comes with a 90-day, no-questions-asked money-back guarantee.</span></p><p><br><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:18px;\">If you’re not completely thrilled with your results? You’ll get every penny back. <strong>No returns. No hassle.</strong></span></p>"},{"type":"html","id":"gg4Jt3fxoy9_text","label":"gg4Jt3fxoy9_text","default":"<p>I Was Expecting a Change “Eventually” But I Got Visible Results in 48 Hours⁸</p>"},{"type":"html","id":"gg6ckqhp5jG_text","label":"gg6ckqhp5jG_text","default":"<p><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:14px;\"><i>*Disclaimer: Results may vary</i></span></p>"},{"type":"html","id":"ggpItPbSDoo_text","label":"ggpItPbSDoo_text","default":"<p><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:19px;\">Honestly, I figured if RejuBalm™ worked at all, it would take weeks.</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:19px;\">After all, every other eye cream I’d tried made the same promise and left me disappointed.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:19px;\">But after just a couple of uses, I saw something I hadn’t seen in years…</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:19px;\">The skin under my eyes looked smoother, less crinkled, and noticeably brighter, the heavy puffiness that usually made me look tired had softened, and my dark circles didn’t seem nearly as harsh.</span></p><p><br><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:19px;\">Even my concealer went on smoother cleaner, without settling into every fine line.</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:19px;\">I wasn’t expecting results this quickly and that’s exactly what shocked me.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:19px;\">If my eyes could look this refreshed in only two days, I can’t help but wonder how soon you’ll notice your own difference.</span></p>"},{"type":"html","id":"ggYqJKkRAlw_text","label":"ggYqJKkRAlw_text","default":"<p>I Doubted If RejuBalm™ Could Prove Itself in One Weekend. My Eyes Looked Totally Different by Monday</p>"},{"type":"html","id":"ggC0d1FR8WK_text","label":"ggC0d1FR8WK_text","default":"<p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\"><strong>My hopes were low,</strong> but I told myself I’d give it one weekend just to see.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">Even though I expected the same disappointment as all the other over-hyped eye creams I tried before, I was at a breaking point and willing to try anything.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">I twisted open the RejuBalm™ stick right away. If it was going to disappoint me like all the others, I wanted to know quickly.</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">The&nbsp;<strong>applicator felt smooth&nbsp;</strong>and cool against my skin, compact, sleek, and&nbsp;<strong>easy to control.</strong></span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">I half-expected it to feel greasy or heavy the way so many eye creams had in the past, but as I swept it gently under my eyes, it absorbed right in and instead of leaving my skin sticky,&nbsp;<strong>it felt light, hydrated, and soothed.</strong></span></p>"},{"type":"html","id":"gg8o1ay9wV3_text","label":"gg8o1ay9wV3_text","default":"<p><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:14px;\"><i>*Disclaimer: Results may vary</i></span></p>"},{"type":"html","id":"ggQJEd6qtrA_text","label":"ggQJEd6qtrA_text","default":"<p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">By Saturday night, I&nbsp;<strong>noticed the puffiness around my eyes didn’t look as heavy</strong>.</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">Sunday afternoon rolled around and the dullness that usually made me look worn and run-down had started to fade.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">And by Monday morning, I could actually see a&nbsp;<strong>significant difference&nbsp;</strong>in the mirror, smoother skin,&nbsp;<strong>brighter eyes, and concealer that glided on without creasing or clumping</strong>.</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">It was only a couple of days, but the change was enough to make me realize this wasn’t “just another cream.”&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">The payoff came fast and it only got better from there.</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">I’d tried products that claimed to smooth and brighten my eyes before but&nbsp;<strong>none came close to what&nbsp;</strong></span><span style=\"background-color:transparent;color:#000000;font-size:19px;\"><strong>RejuBalm™</strong></span><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\"><strong> did.</strong>&nbsp;</span></p>"},{"type":"html","id":"ggjaJRRWWGa_text","label":"ggjaJRRWWGa_text","default":"<p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">If this was the change after 2 days of application, what would it look like in a week?</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">Fast forward to day five, and I couldn’t stop noticing the difference.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">The swelling was dramatically less.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">My eyes looked fresher, brighter, and concealer went on like silk instead of creasing into every line.</span></p>"},{"type":"html","id":"ggKlcEGFo0-_text","label":"ggKlcEGFo0-_text","default":"<p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">Now, two weeks later, I hardly recognize myself in the best way. I’m not avoiding photos or piling on makeup just to feel presentable, and I’m not catching those “you look tired” comments anymore.</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">I know it sounds like a small thing. But for me, this changed everything.</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">I’ve been let down by every “miracle” cream on the shelf, but RejuBalm™ earned my trust fast. It worked for me, maybe it’ll work for you too.</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(14,14,14);font-size:19px;\"><i>*Many users report the skin under the eyes looks smoother, less crinkled, and noticeably brighter after initial applications.*³</i></span></p>"},{"type":"html","id":"ggO4dNR9oQd_text","label":"ggO4dNR9oQd_text","default":"<p>Why You Won’t Find RejuBalm™ in Stores (Or On Amazon)</p>"},{"type":"html","id":"ggt31-2UF3w_text","label":"ggt31-2UF3w_text","default":"<p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">You won’t spot&nbsp;</span><span style=\"background-color:transparent;color:#000000;font-size:19px;\"><strong>RejuBalm™</strong></span><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\"> sitting on a drugstore shelf or tucked into an Amazon listing and that’s intentional.</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">By keeping it direct only, the company guarantees every stick you receive is fresh, potent, and stored the way it’s meant to be, no dusty boxes sitting in warehouses for months, or diluted formulas, and questionable “knockoff” versions from third-party sellers.</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">Ordering through the official site also gives you the best pricing, special bundle offers, and access to full customer support if you ever need it.</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">It’s the only way to be sure you’re getting the real RejuBalm™ and the real results you deserve.</span></p>"},{"type":"html","id":"gg8oDK73Z_h_text","label":"gg8oDK73Z_h_text","default":"<p>You Can Use the Whole Stick and Still Get a Refund If You’re Not Happy</p>"},{"type":"html","id":"gg8SwobG4q3_text","label":"gg8SwobG4q3_text","default":"<p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">Trying another eye cream can feel risky especially if you’ve been let down before. That’s why every order of&nbsp;</span><span style=\"background-color:transparent;color:#000000;font-size:19px;\"><strong>RejuBalm™</strong></span><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\"> comes with a&nbsp;<strong>90-day, no-questions-asked money back guarantee.</strong></span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">Use it every day.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">Finish the entire stick if you want.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">If you’re not absolutely thrilled with how much smoother, firmer, and less puffy your eyes look, you can get a full refund. No product return required or hassle.</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">That’s how much the company believes in this formula and it puts all the control in your hands.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(0,0,0);font-size:19px;\">You get to decide if it’s worth it and there’s zero downside to finding out.</span></p>"},{"type":"html","id":"ggLwymwGRcu_label","label":"ggLwymwGRcu_label","default":"<p>Click To Try Risk Free Today</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  