
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-590721509669274253.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-590721509669274253.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-590721509669274253.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-590721509669274253.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-590721509669274253.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-590721509669274253.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-590721509669274253.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-590721509669274253.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-590721509669274253.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-590721509669274253.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-590721509669274253.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-590721509669274253.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-590721509669274253.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-590721509669274253.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-590721509669274253.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-590721509669274253.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-590721509669274253.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-590721509669274253.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-590721509669274253.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-590721509669274253.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-590721509669274253.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-590721509669274253.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-590721509669274253.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-590721509669274253.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-590721509669274253.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-590721509669274253.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-590721509669274253.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-590721509669274253.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-590721509669274253.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-590721509669274253.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-590721509669274253.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-590721509669274253.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-590721509669274253.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-590721509669274253.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-590721509669274253.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-590721509669274253.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-590721509669274253.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-590721509669274253.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-590721509669274253.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-590721509669274253.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-590721509669274253.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-590721509669274253.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-590721509669274253.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-590721509669274253.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-590721509669274253.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-590721509669274253.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-590721509669274253.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-590721509669274253.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-590721509669274253.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-590721509669274253.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-590721509669274253.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-590721509669274253.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-590721509669274253.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-590721509669274253.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-590721509669274253.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-590721509669274253.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-590721509669274253.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-590721509669274253.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-590721509669274253.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-590721509669274253.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-590721509669274253.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-590721509669274253.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-590721509669274253 .gp-relative{position:relative}.gps-590721509669274253 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-590721509669274253 .gp-mb-0{margin-bottom:0}.gps-590721509669274253 .gp-inline-block{display:inline-block}.gps-590721509669274253 .gp-flex{display:flex}.gps-590721509669274253 .gp-grid{display:grid}.gps-590721509669274253 .gp-contents{display:contents}.gps-590721509669274253 .\!gp-hidden{display:none!important}.gps-590721509669274253 .gp-hidden{display:none}.gps-590721509669274253 .gp-h-auto{height:auto}.gps-590721509669274253 .gp-h-full{height:100%}.gps-590721509669274253 .gp-w-full{width:100%}.gps-590721509669274253 .gp-max-w-full{max-width:100%}.gps-590721509669274253 .gp-flex-none{flex:none}.gps-590721509669274253 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-590721509669274253 .gp-flex-col{flex-direction:column}.gps-590721509669274253 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-590721509669274253 .gp-duration-200{transition-duration:.2s}.gps-590721509669274253 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-590721509669274253 .tablet\:\!gp-hidden{display:none!important}.gps-590721509669274253 .tablet\:gp-hidden{display:none}.gps-590721509669274253 .tablet\:gp-h-auto{height:auto}.gps-590721509669274253 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-590721509669274253 .mobile\:\!gp-hidden{display:none!important}.gps-590721509669274253 .mobile\:gp-hidden{display:none}.gps-590721509669274253 .mobile\:gp-h-auto{height:auto}.gps-590721509669274253 .mobile\:gp-flex-none{flex:none}}.gps-590721509669274253 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gxxkIEvW1S"}' data-id="gxxkIEvW1S" id="gxxkIEvW1S" data-same-height-subgrid-container class="gxxkIEvW1S gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:15px;--pb:15px;--pt-mobile:12px;--pb-mobile:12px;--pt-tablet:15px;--pb-tablet:15px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFFFFF;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3xFTqIZbB gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"ggaeE1FsDn"}' data-id="ggaeE1FsDn" id="ggaeE1FsDn" data-same-height-subgrid-container class="ggaeE1FsDn gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:1150px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-NimMGhZo gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g_L5TCF1dv"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1761627731946 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g_L5TCF1dv"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "8a6adf93-944d-46c4-95e3-48ff894d70e3.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjc5IiBoZWlnaHQ9Ijg4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yNzktODgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI3OSIgaGVpZ2h0PSI4OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjc5IiBoZWlnaHQ9Ijg4IiBmaWxsPSJ1cmwoI2ctMjc5LTg4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjc5IiB0bz0iMjc5IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "8a6adf93-944d-46c4-95e3-48ff894d70e3.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjc5IiBoZWlnaHQ9Ijg4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yNzktODgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI3OSIgaGVpZ2h0PSI4OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjc5IiBoZWlnaHQ9Ijg4IiBmaWxsPSJ1cmwoI2ctMjc5LTg4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjc5IiB0bz0iMjc5IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "8a6adf93-944d-46c4-95e3-48ff894d70e3.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjc5IiBoZWlnaHQ9Ijg4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yNzktODgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI3OSIgaGVpZ2h0PSI4OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjc5IiBoZWlnaHQ9Ijg4IiBmaWxsPSJ1cmwoI2ctMjc5LTg4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjc5IiB0bz0iMjc5IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "8a6adf93-944d-46c4-95e3-48ff894d70e3.png" | file_url }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:230px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-590721509669274253 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/reju-skin-care/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=590721509501174413&sectionId=590721509669274253)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  