
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-589433090532049809.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-589433090532049809.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-589433090532049809.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-589433090532049809.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-589433090532049809.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-589433090532049809.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-589433090532049809.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-589433090532049809.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-589433090532049809.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-589433090532049809.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-589433090532049809.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-589433090532049809.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-589433090532049809.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-589433090532049809.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-589433090532049809.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-589433090532049809.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-589433090532049809.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-589433090532049809.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-589433090532049809.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-589433090532049809.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-589433090532049809.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-589433090532049809.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-589433090532049809.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-589433090532049809.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-589433090532049809.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-589433090532049809.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-589433090532049809.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-589433090532049809.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-589433090532049809.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-589433090532049809.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-589433090532049809.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-589433090532049809.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-589433090532049809.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-589433090532049809.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-589433090532049809.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-589433090532049809.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-589433090532049809.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-589433090532049809.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-589433090532049809.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-589433090532049809.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-589433090532049809.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-589433090532049809.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-589433090532049809.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-589433090532049809.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-589433090532049809.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-589433090532049809.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-589433090532049809.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-589433090532049809.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-589433090532049809.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-589433090532049809.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-589433090532049809.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-589433090532049809.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-589433090532049809.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-589433090532049809.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-589433090532049809.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-589433090532049809.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-589433090532049809.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-589433090532049809.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-589433090532049809.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-589433090532049809.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-589433090532049809.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-589433090532049809.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-589433090532049809.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-589433090532049809.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-589433090532049809.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-589433090532049809.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-589433090532049809.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-589433090532049809.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-589433090532049809.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-589433090532049809.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-589433090532049809.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-589433090532049809.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-589433090532049809.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-589433090532049809 .-gp-rotate-90,.gps-589433090532049809 .gp-rotate-180,.gps-589433090532049809 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-589433090532049809 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-589433090532049809 .gp-relative{position:relative}.gps-589433090532049809 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-589433090532049809 .gp-mb-0{margin-bottom:0}.gps-589433090532049809 .gp-flex{display:flex}.gps-589433090532049809 .gp-inline-flex{display:inline-flex}.gps-589433090532049809 .gp-grid{display:grid}.gps-589433090532049809 .\!gp-hidden{display:none!important}.gps-589433090532049809 .gp-hidden{display:none}.gps-589433090532049809 .gp-min-h-0{min-height:0}.gps-589433090532049809 .gp-w-full{width:100%}.gps-589433090532049809 .gp-max-w-full{max-width:100%}.gps-589433090532049809 .-gp-rotate-90{--tw-rotate:-90deg}.gps-589433090532049809 .-gp-rotate-90,.gps-589433090532049809 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-589433090532049809 .gp-rotate-180{--tw-rotate:180deg}.gps-589433090532049809 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-589433090532049809 .gp-cursor-pointer{cursor:pointer}.gps-589433090532049809 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-589433090532049809 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-589433090532049809 .gp-flex-col{flex-direction:column}.gps-589433090532049809 .gp-items-center{align-items:center}.gps-589433090532049809 .gp-justify-center{justify-content:center}.gps-589433090532049809 .gp-gap-\[16px\]{gap:16px}.gps-589433090532049809 .gp-overflow-hidden{overflow:hidden}.gps-589433090532049809 .gp-overflow-clip{overflow:clip}.gps-589433090532049809 .gp-break-all{word-break:break-all}.gps-589433090532049809 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-589433090532049809 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-589433090532049809 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-589433090532049809 .gp-duration-200{transition-duration:.2s}.gps-589433090532049809 .gp-duration-500{transition-duration:.5s}.gps-589433090532049809 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-589433090532049809 .after\:gp-absolute:after{content:var(--tw-content);position:absolute}.gps-589433090532049809 .after\:gp-left-\[2px\]:after{content:var(--tw-content);left:2px}.gps-589433090532049809 .after\:gp-top-0:after{content:var(--tw-content);top:0}.gps-589433090532049809 .after\:gp-w-full:after{content:var(--tw-content);width:100%}.gps-589433090532049809 .after\:gp-select-none:after{content:var(--tw-content);-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-589433090532049809 .after\:gp-truncate:after{content:var(--tw-content);overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-589433090532049809 .after\:gp-text-black:after{--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity));content:var(--tw-content)}.gps-589433090532049809 .after\:gp-opacity-20:after{content:var(--tw-content);opacity:.2}.gps-589433090532049809 .after\:gp-content-\[\'Your_custom_text_goes_here\'\]:after{--tw-content:"Your custom text goes here";content:var(--tw-content)}.gps-589433090532049809 .empty\:gp-pl-\[2px\]:empty{padding-left:2px}@media (hover:hover) and (pointer:fine){.gps-589433090532049809 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-589433090532049809 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}@media (max-width:1024px){.gps-589433090532049809 .tablet\:\!gp-hidden{display:none!important}.gps-589433090532049809 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-589433090532049809 .mobile\:\!gp-hidden{display:none!important}.gps-589433090532049809 .mobile\:gp-hidden{display:none}}.gps-589433090532049809 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-589433090532049809 .\[\&\>svg\]\:\!gp-w-full>svg{width:100%!important}.gps-589433090532049809 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#2A2552","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ghDSELCl20"}' data-id="ghDSELCl20" id="ghDSELCl20" data-same-height-subgrid-container class="ghDSELCl20 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pl:var(--g-s-xl);--pb:var(--g-s-2xl);--pr:var(--g-s-xl);--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-l);--pt-tablet:var(--g-s-xl);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-xl);--pr-tablet:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#2A2552;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXMIkLW_NV gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gf6viPARo8"}' data-id="gf6viPARo8" id="gf6viPARo8" data-same-height-subgrid-container class="gf6viPARo8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gEb8bUn9nd gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gc-bJgj5q4"}' data-id="gc-bJgj5q4" id="gc-bJgj5q4" data-same-height-subgrid-container class="gc-bJgj5q4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g6QRxGgUJc gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g13ngVgKAB ">
      
    <gp-accordion data-id="g13ngVgKAB" class="gp-flex gp-flex-col gp-w-full" style="--gg:8px;border-radius:inherit"
      gp-data='{"uid":"g13ngVgKAB","setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"8px"}},"iconCollapse":"\n          <svg width=\"16\" height=\"16\" data-name=\"Caret-down-regular\" viewBox=\"0 0 16 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n<path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M4.57576 6.77571C4.81007 6.5414 5.18997 6.5414 5.42429 6.77571L8.20002 9.55145L10.9758 6.77571C11.2101 6.5414 11.59 6.5414 11.8243 6.77571C12.0586 7.01003 12.0586 7.38993 11.8243 7.62424L8.62429 10.8242C8.38997 11.0586 8.01007 11.0586 7.77576 10.8242L4.57576 7.62424C4.34145 7.38993 4.34145 7.01003 4.57576 6.77571Z\" fill=\"currentColor\"/>\n</svg>\n          ","iconExpand":"\n       <svg width=\"16\" height=\"16\" data-name=\"Caret-up-regular\" viewBox=\"0 0 16 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n<path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M11.6243 9.82426C11.39 10.0586 11.0101 10.0586 10.7758 9.82426L8.00005 7.04853L5.22431 9.82426C4.99 10.0586 4.6101 10.0586 4.37579 9.82426C4.14147 9.58995 4.14147 9.21005 4.37579 8.97574L7.57579 5.77574C7.8101 5.54142 8.19 5.54142 8.42431 5.77574L11.6243 8.97574C11.8586 9.21005 11.8586 9.58995 11.6243 9.82426Z\" fill=\"currentColor\"/>\n</svg>\n","iconCollapseSize":16,"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"g13ngVgKAB","childListNumber":[],"chidlrenUid":["gP8NIHOBlO"]},"styles":{"bgColor":{},"color":{"normal":"text-1"},"headerBorder":{},"textColor":{"normal":"#FFFFFF"},"iconColor":{"normal":"text-1"},"contentSizePadding":{"desktop":{"gap":"8px","padding":{"bottom":"12px","left":"0px","right":"0px","top":"4px","type":"medium"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"8px","left":"0px","right":"0px","top":"8px","type":"medium"}}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#FFFFFF;--icon-expand-hover-color:var(--g-c-text-1, text-1);--icon-expand-active-color:var(--g-c-text-1, text-1);--icon-active-color:var(--g-c-text-1, text-1);--icon-hover-color:var(--g-c-text-1, text-1);--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:rgba(255, 255, 255, 0.4)">
    <div data-index="0" class="g13ngVgKAB gp-overflow-hidden gp-child-item-g13ngVgKAB gp-accordion-item">
      <div aria-hidden uid="gP8NIHOBlO" id="gP8NIHOBlO" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g13ngVgKAB gp-accordion-item-g13ngVgKAB-0" style="--pl:0px;--pr:0px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between">
        
          <div class="gp-inline-flex">
            <span style="--c:var(--g-c-text-1, text-1);width:16px;height:16px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full gp-text-g-text-1">
              
          <svg width="16" height="16" data-name="Caret-down-regular" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M4.57576 6.77571C4.81007 6.5414 5.18997 6.5414 5.42429 6.77571L8.20002 9.55145L10.9758 6.77571C11.2101 6.5414 11.59 6.5414 11.8243 6.77571C12.0586 7.01003 12.0586 7.38993 11.8243 7.62424L8.62429 10.8242C8.38997 11.0586 8.01007 11.0586 7.77576 10.8242L4.57576 7.62424C4.34145 7.38993 4.34145 7.01003 4.57576 6.77571Z" fill="currentColor"/>
</svg>
          
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:8px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#FFFFFF;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760859239521"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0.96px;--size:10px;--size-tablet:10px;--size-mobile:10px;--lh:16px;--lh-tablet:16px;--lh-mobile:16px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg13ngVgKAB_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px">
          <div
      data-same-height-display-contents
      
      class="gApLC0yaJG gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gTb0yWubyy"}' data-id="gTb0yWubyy" id="gTb0yWubyy" data-same-height-subgrid-container class="gTb0yWubyy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gmUxxSumac gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gklJyuLjQ1"
        class="gklJyuLjQ1"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760859239524"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-FilsonProRegular, 'FilsonProRegular'), var(--g-font-body, body);--weight:400;--size:10px;--size-tablet:10px;--size-mobile:10px;--lh:16px;--lh-tablet:16px;--lh-mobile:16px;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggklJyuLjQ1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gx62_hI4em"
        class="gx62_hI4em"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760859239526"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-relative empty:gp-pl-[2px] after:gp-content-['Your_custom_text_goes_here'] after:gp-absolute after:gp-select-none after:gp-top-0 after:gp-left-[2px] after:gp-w-full after:gp-truncate after:gp-text-black after:gp-opacity-20 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-589433090532049809 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/reju-skin-care/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=589433090447770513&sectionId=589433090532049809)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg13ngVgKAB_childItem_0","label":"gg13ngVgKAB_childItem_0","default":"<p><strong>Disclaimer:</strong> This is an advertisement and not an actual news article, blog, or consumer protection update. Results may vary. Individual experiences can differ based on personal factors and usage. Please consult a professional for personalized guidance and expected results.</p><p>&nbsp;</p><p>RejuBalm™ is a cosmetic skincare product and not intended to diagnose, treat, cure, or prevent any medical condition. Individual results may vary. The information provided on this site is for informational purposes only and is not intended as a substitute for advice from your dermatologist or other health care professional or any information contained on or in any product label or packaging. You should not use the information on this website or the product described for diagnosis or treatment of any health problem or as a substitute for any prescription of any medication or other treatment. You should consult with a health care professional before starting any skin or facial regiment or if you have or suspect you might have a skin problem. This information and product is not recommended for women who are pregnant or children.&nbsp;</p><p>&nbsp;</p><p><strong>References:</strong><br>1. Herman A, Herman A.P. Caffeine’s mechanisms of action and its cosmetic use. Skin Pharmacol Physiol. 2013;26(1):8-14.</p><p>&nbsp;</p><p><strong>Privacy Policy &amp; Marketing Disclosure</strong></p><p>We value your privacy and are committed to transparency. While we may collect personal information for marketing purposes, we will always inform you of the reasons behind such collection. Please note that this website uses cookies to enhance your browsing experience and to serve targeted advertisements.</p><p>&nbsp;</p><p><u>Privacy Policy</u></p><p><u>Terms Of Service</u></p><p>&nbsp;</p><p>Contact Information:&nbsp;</p><p>Monday – Friday: 9:00 AM – 5:00 PM</p><p>Saturday – Sunday: Closed</p><p>Our Email: info@rejuwellness.co</p>"},{"type":"html","id":"ggklJyuLjQ1_text","label":"ggklJyuLjQ1_text","default":"<p>Caffeine and Metabolism: International Journal of Obesity (2004) – \"The effects of caffeine ingestion on fat oxidation and energy expenditure.\"; https://pubmed.ncbi.nlm.nih.gov/15148503/</p><p>Protein and Muscle Growth: Journal of the International Society of Sports Nutrition (2017) – \"Effects of whey protein on muscle protein synthesis after resistance exercise.\"; https://jissn.biomedcentral.com/articles/10.1186/s12970-017-0187-5</p><p>MCT Oil for Energy and Fat Loss: The American Journal of Clinical Nutrition (2008) – \"Medium-chain triglycerides enhance energy expenditure and fat oxidation.\"; https://academic.oup.com/ajcn/article/87/3/621/4633342</p><p>Protein and Fullness: American Journal of Clinical Nutrition (2008) – \"Effects of protein on appetite and food intake.\"; https://academic.oup.com/ajcn/article/87/5/1558S/4650464</p><p>Protein and Metabolism: Nutrition &amp; Metabolism (2004) – \"Dietary protein and the regulation of body weight.\"; https://nutritionandmetabolism.biomedcentral.com/articles/10.1186/1743-7075-1-5</p><p>Caffeine and Energy Boost: International Journal of Obesity (2004) – \"The effects of caffeine ingestion on fat oxidation and energy expenditure.\"; https://pubmed.ncbi.nlm.nih.gov/15148503/</p><p>Protein for Sustained Energy: Journal of the American College of Nutrition (2013) – \"Role of protein and amino acids in sustaining energy and mood.\"; https://www.tandfonline.com/doi/full/10.1080/07315724.2013.798295</p><p>Caffeine Without Jitters: Journal of Clinical Psychopharmacology (2001) – \"Effects of low doses of caffeine on mood, cognition, and metabolism.\"; https://pubmed.ncbi.nlm.nih.gov/11593098/</p><p>Prebiotics and Digestion: Nutrients (2017) – \"The role of prebiotics in digestion and gut health.\"; https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5579693/</p><p>Prebiotics and Immune Health: Frontiers in Immunology (2017) – \"The interaction of prebiotics and the immune system.\"; https://www.frontiersin.org/articles/10.3389/fimmu.2017.00841/full</p><p>Prebiotics, Appetite Regulation, and Metabolism: Frontiers in Microbiology (2015) – \"The impact of prebiotics on appetite regulation and metabolic health.\"; https://www.frontiersin.org/articles/10.3389/fmicb.2015.00755/full</p><p>Whey Protein and Muscle Growth: Journal of the International Society of Sports Nutrition (2017) – \"Effects of whey protein on muscle protein synthesis after resistance exercise.\"; https://jissn.biomedcentral.com/articles/10.1186/s12970-017-0187-5</p><p>Whey Protein and Weight Loss: The American Journal of Clinical Nutrition (2008) – \"The effects of protein on appetite and energy expenditure.\"; https://academic.oup.com/ajcn/article/87/1/155/4633204</p><p>Prebiotics, Appetite Regulation, and Metabolism: Frontiers in Microbiology (2015) – \"The impact of prebiotics on appetite regulation and metabolic health.\"; https://www.frontiersin.org/articles/10.3389/fmicb.2015.00755/full</p><p>Whey Protein and Immune System: British Journal of Nutrition (2012) – \"Whey protein and its impact on immune health.\"; https://www.cambridge.org/core/journals/british-journal-of-nutrition/article/effects-of-whey-protein-on-immune-function/45F68E1E21D3F905</p><p>Coffee Antioxidants and Well-being: Journal of Nutrition (2010) – \"Coffee consumption and its impact on antioxidant activity and overall health.\"; https://academic.oup.com/jn/article/140/6/1126/4600320</p><p>Coffee and Metabolism: International Journal of Obesity (2004) – \"The effects of caffeine ingestion on fat oxidation and energy expenditure.\"; https://pubmed.ncbi.nlm.nih.gov/15148503/</p><p>Coffee and Cardiovascular Health: American Heart Association Journal (2015) – \"Association between coffee consumption and cardiovascular health.\"; https://www.ahajournals.org/doi/full/10.1161/CIRCULATIONAHA.114.013468</p><p>MCTs and Cognitive Function: Journal of Alzheimer's Disease (2018) – \"The effects of medium-chain triglycerides on cognition in Alzheimer's disease patients.\"; https://content.iospress.com/articles/journal-of-alzheimers-disease/jad180022</p><p>MCTs for Sustained Brain Energy: Frontiers in Neuroscience (2016) – \"Medium-chain triglycerides provide energy without glucose spikes and enhance brain function.\"; https://www.frontiersin.org/articles/10.3389/fnins.2016.00530/full</p><p>MCTs and Alzheimer's Risk Reduction: Neurobiology of Aging (2009) – \"The impact of MCTs on reducing the risk of Alzheimer's and supporting brain health.\"; https://www.sciencedirect.com/science/article/abs/pii/S019745</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  