
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-590627413294056104.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-590627413294056104.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-590627413294056104.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-590627413294056104.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-590627413294056104.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-590627413294056104.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-590627413294056104.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-590627413294056104.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-590627413294056104.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-590627413294056104.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-590627413294056104.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-590627413294056104.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-590627413294056104.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-590627413294056104.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-590627413294056104.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-590627413294056104.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-590627413294056104.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-590627413294056104.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-590627413294056104.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-590627413294056104.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-590627413294056104.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-590627413294056104.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-590627413294056104.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-590627413294056104.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-590627413294056104.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-590627413294056104.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-590627413294056104.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-590627413294056104.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-590627413294056104.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-590627413294056104.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-590627413294056104.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-590627413294056104.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-590627413294056104.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-590627413294056104.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-590627413294056104.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-590627413294056104.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-590627413294056104.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-590627413294056104.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-590627413294056104.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-590627413294056104.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-590627413294056104.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-590627413294056104.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-590627413294056104.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-590627413294056104.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-590627413294056104.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-590627413294056104.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-590627413294056104.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-590627413294056104.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-590627413294056104.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-590627413294056104.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-590627413294056104.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-590627413294056104.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-590627413294056104.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-590627413294056104.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-590627413294056104.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-590627413294056104.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-590627413294056104.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-590627413294056104.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-590627413294056104.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-590627413294056104.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-590627413294056104.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-590627413294056104.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-590627413294056104.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-590627413294056104.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-590627413294056104.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-590627413294056104.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-590627413294056104.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-590627413294056104.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-590627413294056104.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-590627413294056104 .gp-relative{position:relative}.gps-590627413294056104 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-590627413294056104 .gp-mb-0{margin-bottom:0}.gps-590627413294056104 .gp-flex{display:flex}.gps-590627413294056104 .gp-grid{display:grid}.gps-590627413294056104 .\!gp-hidden{display:none!important}.gps-590627413294056104 .gp-hidden{display:none}.gps-590627413294056104 .gp-max-w-full{max-width:100%}.gps-590627413294056104 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-590627413294056104 .gp-flex-col{flex-direction:column}.gps-590627413294056104 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-590627413294056104 .gp-duration-200{transition-duration:.2s}.gps-590627413294056104 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-590627413294056104 .tablet\:\!gp-hidden{display:none!important}.gps-590627413294056104 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-590627413294056104 .mobile\:\!gp-hidden{display:none!important}.gps-590627413294056104 .mobile\:gp-hidden{display:none}}.gps-590627413294056104 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#151515","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g56vpkBAl1"}' data-id="g56vpkBAl1" id="g56vpkBAl1" data-same-height-subgrid-container class="g56vpkBAl1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUvl0lMKXZ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gwEcRMpWyq"}' data-id="gwEcRMpWyq" id="gwEcRMpWyq" data-same-height-subgrid-container class="gwEcRMpWyq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gw_AsJzN0Y gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gftFmz0e0y"
        class="gftFmz0e0y"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761571295420"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:25px;--lh-tablet:180%;--lh-mobile:25px;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggftFmz0e0y_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw2aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXx-p7K4KLg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-590627413294056104 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/reju-skin-care/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=590627413143061160&sectionId=590627413294056104)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggftFmz0e0y_text","label":"ggftFmz0e0y_text","default":"<p>ADVERTORIAL</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  