.image-with-text .grid {
  margin-bottom: 0;
}

.image-with-text__grid {
  align-items: stretch;
}

.image-with-text .grid__item {
  position: relative;
}

@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse {
    flex-direction: row-reverse;
  }
}

.image-with-text__media {
  min-height: 100%;
  overflow: visible;
}

.image-with-text__media--small {
  height: 19.4rem;
}

.image-with-text__media--medium {
  height: 29.6rem;
}

.image-with-text__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media--small {
    height: 31.4rem;
  }

  .image-with-text__media--medium {
    height: 46rem;
  }

  .image-with-text__media--large {
    height: 69.5rem;
  }
}

.image-with-text__media--placeholder {
  position: relative;
  overflow: hidden;
}

.image-with-text__media--placeholder:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-foreground), 0.04);
}

.image-with-text__media--placeholder.image-with-text__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media--placeholder.image-with-text__media--adapt {
    height: 30rem;
  }
}

.image-with-text__media--placeholder > svg {
  position: absolute;
  left: 50%;
  max-width: 80rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  fill: currentColor;
}

.image-with-text__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-self: center;
  padding: 3rem calc(3rem / var(--font-body-scale)) 3rem;
  position: relative;
  z-index: 1;
}

.image-with-text .grid__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image-with-text:not(.image-with-text--overlap)
  .image-with-text__media-item:after {
  border-radius: var(--media-radius);
}

.image-with-text:not(.image-with-text--overlap)
  .image-with-text__text-item:after {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.image-with-text .image-with-text__media-item > * {
  border-radius: var(--media-radius);
  overflow: hidden;
}

.image-with-text .global-media-settings {
  overflow: hidden !important;
}

.image-with-text .image-with-text__text-item > * {
  border-radius: var(--text-boxes-radius);
  overflow: hidden;
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.image-with-text:not(.image-with-text--overlap)
  .image-with-text__media-item
  > *,
.image-with-text:not(.image-with-text--overlap)
  .image-with-text__text-item
  > * {
  box-shadow: none;
}

@media screen and (max-width: 749px) {
  .image-with-text--mobile-reverse .image-with-text__grid {
    flex-direction: column-reverse;
  }
  /* .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .image-with-text__media-item:after,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .grid__item
    .image-with-text__media,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .image-with-text__media
    img,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .image-with-text__media
    video {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .image-with-text__text-item:after,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .grid__item
    .image-with-text__content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  } */
  .image-with-text.image-with-text--mobile-normal.different-colors.collapse-corners:not(
      .image-with-text--overlap
    )
    .image-with-text__media-item:after,
  .image-with-text.image-with-text--mobile-normal.different-colors.collapse-corners:not(
      .image-with-text--overlap
    )
    .grid__item
    .image-with-text__media,
  .image-with-text.image-with-text--mobile-normal.different-colors.collapse-corners:not(
      .image-with-text--overlap
    )
    .image-with-text__media
    img,
  .image-with-text.image-with-text--mobile-normal.different-colors.collapse-corners:not(
      .image-with-text--overlap
    )
    .image-with-text__media
    video,
  .image-with-text.image-with-text--mobile-reverse.different-colors.collapse-corners:not(
      .image-with-text--overlap
    )
    .image-with-text__text-item:after,
  .image-with-text.image-with-text--mobile-reverse.different-colors.collapse-corners:not(
      .image-with-text--overlap
    )
    .grid__item
    .image-with-text__content {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .image-with-text.image-with-text--mobile-reverse.different-colors.collapse-corners:not(
      .image-with-text--overlap
    )
    .image-with-text__media-item:after,
  .image-with-text.image-with-text--mobile-reverse.different-colors.collapse-corners:not(
      .image-with-text--overlap
    )
    .grid__item
    .image-with-text__media,
  .image-with-text.image-with-text--mobile-reverse.different-colors.collapse-corners:not(
      .image-with-text--overlap
    )
    .image-with-text__media
    img,
  .image-with-text.image-with-text--mobile-reverse.different-colors.collapse-corners:not(
      .image-with-text--overlap
    )
    .image-with-text__media
    video,
  .image-with-text.image-with-text--mobile-normal.different-colors.collapse-corners:not(
      .image-with-text--overlap
    )
    .image-with-text__text-item:after,
  .image-with-text.image-with-text--mobile-normal.different-colors.collapse-corners:not(
      .image-with-text--overlap
    )
    .grid__item
    .image-with-text__content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .image-with-text.collapse-borders:not(.image-with-text--overlap)
    .image-with-text__content {
    border-top: 0;
  }
}

.image-with-text__content--mobile-right > * {
  align-self: flex-end;
  text-align: right;
}

.image-with-text__content--mobile-center > * {
  align-self: center;
  text-align: center;
}

.image-with-text--overlap .image-with-text__content {
  width: 90%;
  margin: -3rem auto 0;
}

@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse .image-with-text__content {
    margin-left: auto;
  }

  .image-with-text__content--bottom {
    justify-content: flex-end;
    align-self: flex-end;
  }

  .image-with-text__content--top {
    justify-content: flex-start;
    align-self: flex-start;
  }

  .image-with-text__content--desktop-right > * {
    align-self: flex-end;
    text-align: right;
  }

  .image-with-text__content--desktop-left > * {
    align-self: flex-start;
    text-align: left;
  }

  .image-with-text__content--desktop-center > * {
    align-self: center;
    text-align: center;
  }

  .image-with-text--overlap .image-with-text__text-item {
    display: flex;
    padding: 3rem 0;
  }

  .image-with-text--overlap .image-with-text__content {
    height: auto;
    width: calc(100% + 4rem);
    min-width: calc(100% + 4rem);
    margin-top: 0;
    margin-left: -4rem;
  }

  .image-with-text--overlap
    .image-with-text__grid--reverse
    .image-with-text__content {
    margin-left: 0;
    margin-right: -4rem;
  }

  .image-with-text--overlap
    .image-with-text__grid--reverse
    .image-with-text__text-item {
    justify-content: flex-end;
  }

  .image-with-text__media-item--top {
    align-self: flex-start;
  }

  .image-with-text__media-item--middle {
    align-self: center;
  }

  .image-with-text__media-item--bottom {
    align-self: flex-end;
  }

  .image-with-text__media-item--small,
  .image-with-text__media-item--large + .image-with-text__text-item {
    flex-grow: 0;
  }

  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__media-item:after,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__media,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__media
    img,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__media
    video,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .image-with-text__grid--reverse
    .image-with-text__text-item:after,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .image-with-text__grid--reverse
    .image-with-text__content,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .image-with-text__grid--reverse
    .image-with-text__content:after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__text-item:after,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__content,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__content:after,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .image-with-text__grid--reverse
    .image-with-text__media-item:after,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .image-with-text__grid--reverse
    .image-with-text__media,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .image-with-text__grid--reverse
    .image-with-text__media
    img,
  .image-with-text.different-colors.collapse-corners:not(.image-with-text--overlap, .collapse-padding)
    .image-with-text__grid--reverse
    .image-with-text__media
    video {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .image-with-text.collapse-borders:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__content {
    border-left: 0;
  }

  .image-with-text.collapse-borders:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__content {
    border-right: 0;
  }
}

.image-with-text:not(.collapse-corners, .image-with-text--overlap)
  .image-with-text__media-item {
  z-index: 2;
}

.image-with-text__content {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
  word-break: break-word;
}

@media screen and (min-width: 990px) {
  .image-with-text__content {
    padding: 6rem 7rem 7rem;
  }
}

.image-with-text__content > * + * {
  margin-top: 2rem;
}

.image-with-text__content > .image-with-text__text:empty ~ a {
  margin-top: 2rem;
}

.image-with-text__content > :first-child:is(.image-with-text__heading),
.image-with-text__text--caption + .image-with-text__heading,
.image-with-text__text--caption:first-child {
  margin-top: 0;
}

.image-with-text__text--caption {
  color: rgb(var(--color-foreground));
}

.image-with-text__content :last-child:is(.image-with-text__heading),
.image-with-text__text--caption {
  margin-bottom: 0;
}

.image-with-text__content .button + .image-with-text__text {
  margin-top: 2rem;
}

.image-with-text__content .image-with-text__text + .button {
  margin-top: 3rem;
}

.image-with-text__heading {
  margin-bottom: 0;
}

.image-with-text__text p {
  color: rgb(var(--color-foreground));
  margin-top: 0;
  margin-bottom: 1rem;
}

@media screen and (max-width: 749px) {
  .collapse-padding .image-with-text__grid .image-with-text__content {
    padding: 2rem 0;
  }
}

@media screen and (min-width: 750px) {
  .collapse-padding
    .image-with-text__grid:not(.image-with-text__grid--reverse)
    .image-with-text__content:not(.image-with-text__content--desktop-center) {
    /* padding-right: 0; */
  }

  .collapse-padding
    .image-with-text__grid--reverse
    .image-with-text__content:not(.image-with-text__content--desktop-center) {
    padding-left: 0;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .image-with-text .grid {
    margin-left: 0;
  }
}

/*
  Multirow
  note: consider removing from this stylesheet if multirow-specific styles increase signficantly
*/
.multirow__inner {
  display: flex;
  flex-direction: column;
  row-gap: var(--grid-mobile-vertical-spacing);
}

@media screen and (min-width: 750px) {
  .multirow__inner {
    row-gap: var(--grid-desktop-vertical-spacing);
  }
}

/* Badge Styles */
.image-with-text__badges {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.image-with-text__badge {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 0.75rem 1.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.image-with-text__badge:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.image-with-text__badge-icon {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
  color: #000000;
  flex-shrink: 0;
}

.image-with-text__badge-text {
  font-size: 1.4rem;
  font-weight: 500;
  color: #000000;
  white-space: nowrap;
}

/* Mobile responsive badges */
@media screen and (max-width: 749px) {
  .image-with-text__badges {
    gap: 0.75rem;
    margin-top: 1.5rem;
  }
  
  .image-with-text__badge {
    padding: 0.6rem 1rem;
  }
  
  .image-with-text__badge-text {
    font-size: 1.2rem;
  }
  
  .image-with-text__badge-icon {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 480px) {
  .image-with-text__badges {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .image-with-text__badge {
    width: 100%;
    justify-content: flex-start;
  }
}
